.topo{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ccc;
}
main{ 
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    background-color: #ebebed;
}
section, aside{
    width: 45%;
}
section header{
    padding: 10px;
    text-align: justify;
    background-color: rgb(122, 128, 141);
    color: white;
}
section div{
    padding: 10px;
    text-align: justify;
    background-color: #eae6e6;
    color: black;
}
aside header{
    padding: 10px;
    text-align: center;
    background-color: rgb(122,128,141);
    color: white;
}
aside div{
    padding: 10px;
    text-align: justify;
    background-color: #eae6e6;
    color:black;
}